*{
    margin: 0px;
    padding: 0px;
}
.content{
    float: left;
}
body{
    font-family: 'Graphic Web',Arial, Helvetica, sans-serif;
}
header{
    background-image:radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(../img/background.jpg);
    height: 100vh;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}
.logoicon{
    padding-top:20px;
    margin-left: 20px;
}
.logo{
    font-size: 30px;
    color: #ffffff;
    margin-top:-36px;
    margin-left: 170px;
}
.qoute{

    font-size: 40px;
    color: #ffffff;
    margin-top: -40px;
    margin-left: 50px;
}
.qoute1{
    
    font-size: 20px;
    color: #ffffff;
    margin-left: 50px;
}
.signupbtn{
    margin-left: 50px;
    padding: 10px 35px;
    background-color: #065a69;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #065a69;
    transition: all 0.5s;
}
.signupbtn:hover{
    background-color: transparent;
    border: 2px solid #065a69;
    transition: all 0.5s;
}
.loginform{
    margin-left: 55px;
    margin-top: 40px;
    background-color: #fffdc4;
    width: 76%;
}
.loginlabel{
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    color:#505050;
}
.usericon{
    margin-left: 30px;
  }
input[type="text"]{
    margin-top: 20px;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #505050;
    background-color: transparent;
    padding: 10px 40px 10px 10px;
}
.passicon{
    margin-top:-15px;
    margin-left: 30px;
  }
input[type="password"]{
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: none;
    background-color: transparent;
    padding: 10px 40px 10px 10px;
}
.loginbtn{
    background-color: #f48a43;
    border-style: none;
    color: #ffffff;
    font-size:15px;
    width: 100%;
    height: 40px;
    transition: all 0.5s;
}
.loginbtn:hover{
    background-color: #D46A24;
    transition: all 0.5s;
}
