*{
    padding: 0;
    margin: 0;
  }
  header{
    background-image:radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(../img/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .logo{
    font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: -28px;
    margin-left: 225px;
  }
  .logoposition{
    padding-top: 10px;
    margin-left: 70px;
  }
  .content{
    float: left;
    margin-top: 7%;
    margin-left: 5%;
  }
  .qoute{
    line-height: 60px;
   font-size: 40px;
   font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
   color: #ffffff;
  }
  .qoute1{
    margin-top: 20px;
    line-height: 40px;
   font-size: 20px;
   font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
   color: #ffffff;
  }
  .signupbtn{
    border: 2px solid #065a69;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
    color: #ffffff;
    background-color: #065a69;
    transition: all 0.5s;
  }
  .signupbtn:hover{
    transition: all 0.5s;
    background-color: transparent;
    color: #065a69;
  }
  .modal-header{
    background-color: #205375;
    height: 120px;
  }
  .close-btn{
    border: none;
    float: right;
    font-size: 25px;
    background-color: transparent;
    color:#ffffff;
    transition: all 0.5s;
  }
  .close-btn:hover{
    transition: all 0.5s;
    color:#505050;
  }
  
  .modal-title{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding-top:20px;
  }
  .modal-title1{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding-top:0px;
  }
  
  .modal-txt{
    text-align: center;
  }
  .signupusertxtbox{
    border-radius: 3px;
    border:none;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 80px 8px 40px;
    margin-bottom: 10px;
    font-size: 15px;
  
  }
  .signupfirsttxtbox{
    border-radius: 3px;
    border:none;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 80px 8px 40px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .signupmiddletxtbox{
    border-radius: 3px;
    border:none;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 80px 8px 40px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .signuplasttxtbox{
    border-radius: 3px;
    border:none;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 80px 8px 40px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .signuppasstxtbox{
    border-radius: 3px;
    border:none;
    border-top:1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 80px 8px 40px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .modalsignupbtn{
    background-color: #f65f4e;
    color:#ffffff;
    border: none;
    padding: 13px 30px;
    border-radius: 3px;
    border-bottom: 3px solid #ce4030;
    transition: all 0.5s;
  }
  .modalsignupbtn:hover{
    transition: all 0.5s;
    background-color: #ce4030;
  }
  .modalsignupbtn1{
   background-color: #425f9b;
   color:#ffffff;
   border: none;
   padding: 13px 30px;
   border-radius: 3px;
   border-bottom: 3px solid #2a3f69;
   transition: all 0.5s;
  }
  .modalsignupbtn1:hover{
    transition: all 0.5s;
    background-color: #2a3f69;
  }
  .modal-footer{
    background-color: #e7e7e7;
    color:#505050;
    font-size: 10px;
  }
  .content1{
    margin-top: 40px;
    background-color: #fffdc4;
    width: 95%;
  }
  .logintitle{
   padding-left: 30px;
   padding-top: 30px;
   font-size: 18px;
   font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
   color: #505050;
  }
  .usertxtboxicon{
    margin-top: 10px; 
    margin-left: 30px;
  }
  .usertxtbox
  {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #505050;
  padding: 10px 100px 10px 6px;
  font-size: 14px;
  color: #505050;
  background-color: transparent;
  }
  .passtxtboxicon{
    margin-top: -20px; 
    margin-left: 30px;
  }
  .passtxtbox
  {
  margin-top: 0px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 10px 100px 10px 6px;
  font-size: 14px;
  color: #505050;
  background-color: transparent;
  margin-bottom: 15px;
  }
  .login-btn{
    width: 100%;
    padding: 12px 0px;
    border: none;
    color: #ffffff;
    background-color: #e76c36;
    font-family: 'Graphik Web',Helvetica,Arial,sans-serif;
    transition: all 0.5s;
  }
  .login-btn:hover{
    transition: all 0.5s;
    background-color: #c35526;
  }
  .loginvalidation{
    transition: 1s;
    text-align: center;
    background-color:#1a374d;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    margin-top: -35px;
  }
  
  @media screen and (max-width: 768px) {
   .logoposition{
     margin-left: 20px;
   }
   .logo{
    margin-left: 175px;
   }
   .qoute{
     margin-top: 10px;
     font-size: 25px;
     line-height: 35px;
   }
  .qoute1{
    font-size: 13px;
    line-height: 15px;
  }
  .signupbtn{
    width: 100%;
  }
  .signupusertxtbox{
    padding: 8px 60px;
  }
  .signupfirsttxtbox{
    padding: 8px 60px;
  }
  .signupmiddletxtbox{
    padding: 8px 60px;
  }
  .signuplasttxtbox{
    padding: 8px 60px;
  }
  .signuppasstxtbox{
    padding: 8px 60px;
  }
  .content1{
    width: 100%;
  }
  .usertxtboxicon{
    margin-left: 35px;
  }
  .usertxtbox{
    padding: 10px 30px 0px 10px;
  }
  .passtxtboxicon{
    margin-left: 35px;
  }
  .passtxtbox{
    padding: 10px 30px 0px 10px;
  }
  }